.screen {
    width: 94%;
    height: 400px;
    background-color: red;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px) {
    .screen {
    width: 640px;
    background-color: orange;
  }
}